[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/d4ybl1nd/Desktop/KakaoTalk.desktop]
row=1
col=1

[15FA-054A]
row=2
col=1

[DC6E9E9D6E9E704E]
row=5
col=0

[B2E41C50E41C18E5]
row=8
col=0

[F29A1DBB9A1D7D73]
row=6
col=0

[D410E95A10E943D8]
row=7
col=0

[4A105C16105C0AF9]
row=0
col=0

[A496E13996E10C9C]
row=4
col=0

[Trash]
row=3
col=0

[/]
row=2
col=0

[/home/d4ybl1nd]
row=1
col=0

