[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/d4ybl1nd/Desktop/Old Firefox Data]
row=5
col=0

[1850BDD850BDBD36]
row=0
col=0

[D67AB3887AB36441]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/d4ybl1nd]
row=4
col=0

